<!-- Optional nav for demonstration -->
<div class="my-code-header">
  <h2>This nav is from AppComponent:</h2>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/mystery">Mystery (no Builder page exists here)</a></li>
  </ul>
</div>

<div class="main">
  <h2>
    This section loads Builder pages unless page not found, in which case it
    loads the PageNotFoundComponent from the Angular app.
  </h2>
  <router-outlet></router-outlet>
</div>
